%canvas#myChart
%p.ratedesc ※グラフが大きい方が(良い・簡単な・楽な)講義です

:javascript
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {


      type: 'polarArea',
      data: {
          labels: ["先生", "授業", "簡単さ", "出席", "課題"],
          datasets: [
                  {
                      label: "平均",
                      backgroundColor: [  "#FF6384","#4BC0C0","#FFCE56","#E7E9ED","#36A2EB"],
                      data: [
                      #{@r1},
                      #{@r2},
                      #{@r3},
                      #{@r4},
                      #{@r5}
                      ]
                  }
              ]
      },
      options: {
        scale: {
                pointLabels: {
                fontSize: 40
                },
                ticks: {
                stepSize: 1, // 目盛の間隔
                max: 5, //最大値
                beginAtZero: true
                }
                }

      }
  });
