= stylesheet_link_tag "css/inquiry", :media => "all"
.formouter.center-block
  = form_for @inquiry, :url => '/inquiry/confirm' do |f|
    - if @inquiry.errors.any?
      %strong 入力内容にエラーがあります
      %ul
        - @inquiry.errors.each do |attr, msg|
          %li= msg
    .form-group
      %label 名前（必須）
      = f.text_field :name, :class => "form-control"
    .form-group
      %label メールアドレス（必須）
      = f.text_field :email, :class => "form-control"
    .form-group
      %label お問い合わせ内容
      = f.text_area :message, :class => "form-control", :rows => 7
    = f.submit '確認', :class => "btn btn-primary"


- if User.find(current_user.id).admin?
  %a{:class => "admin", :href => "/courses/"} 授業管理
  %a{:class => "admin", :href => "/comment/index"} コメント管理
